.details{
    height: 100vh;
}
.maindiv{
    background-color: rgb(231,233,235);
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 2rem;
}

.container5 input[type=file]{
    padding: 0;
    border-radius: 0;
}

.container5 input{
    width: 100%;
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;

}
.container5 > button{
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    background-color: #04AA6D;
    opacity: 0.8;
    border: none;
    margin-bottom: 1rem;
}
.btn:hover {
    opacity: 1;
}